.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1rem;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom: 1px solid #eee;
  height: 3.5rem;
}

.app-title {
  color: #333;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.htp-button {
  position: absolute;
  background-color: transparent;
  border: none;
  bottom: 4rem;
  right: 4rem;
  cursor: pointer;
}

.rc-button {
  border: 0.25rem solid #333;
  padding: 1rem 3rem;
  outline: none;
  background: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.rc-button:hover {
  background: #ccc;
  border: 0.25rem solid #858585;
}
